@font-face {
  font-family: 'Slabo';
  font-style: normal;
  src: local('Slabo'), url('./fonts/Slabo13px-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Thasadith';
  font-style: normal;
  src: local('Thasadith'), url('./fonts/Thasadith-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Vibur';
  font-style: normal;
  src: local('Vibur'), url('./fonts/Vibur-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Thabit';
  font-style: normal;
  src: local('Thabit'), url('./fonts/Thabit.ttf') format('truetype');
}
@font-face {
  font-family: 'Voltaire';
  font-style: normal;
  src: local('Voltaire'), url('./fonts/Voltaire.ttf') format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  src: local('Urbanist'), url('./fonts/Urbanist.ttf') format('truetype');
}
@font-face {
  font-family: 'Vampiro';
  font-style: normal;
  src: local('Vampiro'), url('./fonts/VampiroOne.ttf') format('truetype');
}
@font-face {
  font-family: 'Trispace';
  font-style: normal;
  src: local('Trispace'), url('./fonts/Trispace.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: 0;
}

.pageBody {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: Slabo;
  font-weight: lighter;
  font-size:larger;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.itemsContainer {
  text-align: center;
}

.itemsContainer button {
  cursor: pointer;
  padding: 8px;
  font-family: Thasadith;
  font-weight:lighter;
  font-size: medium;
  width: 190px;
  color: white;
  background-color: #282c3400;
  border: 1px solid white;
  border-radius: 8px;
}

.fp-controlArrow{
  visibility: hidden;
}

.fp-next{
  background-color: black;
}

p {
  margin: 5px;
}

